<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name=".view.video.VideoActivity"
            android:launchMode="singleTask"
            android:supportsPictureInPicture="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="UnusedAttribute" />
        <activity
            android:name=".view.bookmark.BookmarkActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|layoutDirection|screenSize" />
    </application>

</manifest>
