<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

<application>

    <activity
        android:name=".playplaylist.config.ActivityConfigPlayPlaylist"
        android:exported="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/pocket_casts_play_filter">
        <intent-filter>
            <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
        </intent-filter>
    </activity>
    <activity
        android:name=".controlplayback.config.ActivityConfigControlPlayback"
        android:exported="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/pocket_casts_control_playback">
        <intent-filter>
            <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
        </intent-filter>
    </activity>
    <activity
        android:name=".querypodcasts.config.ActivityConfigQueryPodcasts"
        android:exported="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/pocket_casts_query_podcasts">
        <intent-filter>
            <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
        </intent-filter>
    </activity>
    <activity
        android:name=".querypodcastepisodes.config.ActivityConfigQueryPodcastEpisodes"
        android:exported="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/pocket_casts_query_podcast_episodes">
        <intent-filter>
            <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
        </intent-filter>
    </activity>
    <activity
        android:name=".addtoupnext.config.ActivityConfigAddToUpNext"
        android:exported="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/pocket_casts_add_to_up_next">
        <intent-filter>
            <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
        </intent-filter>
    </activity>
    <activity
        android:name=".queryfilters.config.ActivityConfigQueryFilters"
        android:exported="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/pocket_casts_query_filters">
        <intent-filter>
            <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
        </intent-filter>
    </activity>
    <activity
        android:name=".queryfilterepisodes.config.ActivityConfigQueryFilterEpisodes"
        android:exported="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/pocket_casts_query_filter_episodes">
        <intent-filter>
            <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
        </intent-filter>
    </activity>
</application>
</manifest>