<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.type.automotive"
        android:required="true" />
    <uses-feature
        android:name="android.software.car.templates_host"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>

    <application
        android:name=".AutomotiveApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Automotive.ThemeDark"
        android:appCategory="audio"
        android:usesCleartextTraffic="true">
        <activity android:name=".AutomotiveSettingsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES"/>
            </intent-filter>
        </activity>

        <service
            android:name=".AutoPlaybackService"
            android:exported="true"
            android:label="@string/app_name"
            android:foregroundServiceType="mediaPlayback">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <!-- services which are periodic or trigerred by the app automatically triggered, eg: can run in the background -->
        <service android:name=".repositories.download.UpdateEpisodeDetailsJob"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>
        <service android:name=".repositories.refresh.RefreshPodcastsJob"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>
        <service android:name=".repositories.jobs.VersionMigrationsJob"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>
        <service android:name=".repositories.sync.UpNextSyncJob"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>

        <!-- Work Manager -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <!-- If you are using androidx.startup to initialize other components -->
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <!-- Disable Advertising ID collection -->
        <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false"/>

        <meta-data
            android:name="pocketcasts_automotive"
            android:value="true" />
        <meta-data
            android:name="io.sentry.dsn"
            android:value="${sentryDsn}" />
    </application>

</manifest>