<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.com.shiftyjelly.pocketcasts.views">

    <application
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.WebViewActivity"
            android:configChanges="orientation|layoutDirection|screenSize" />
    </application>

</manifest>